node_modules
tmp
_tmp
.DS_Store
debug.log
.~lock*
dist
.idea
.history
.eslintcache
.env
.env.*
.*.env
coverage
.new
newrelic_agent.log
.jest-cache
.jest-coverage
packages/**/build

tsconfig.tsbuildinfo
*.sqlite
